In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
#Task 1: Read CSV Files

df_matches = pd.read_csv('ipl/matches.csv')
df_delv = pd.read_csv('ipl/deliveries.csv')
df_matches.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,2017-04-05,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,2017-04-06,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,2017-04-07,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,2017-04-08,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,2017-04-08,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [6]:
##Task 2: Get top-level summary

df_matches.describe()
df_matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 636 entries, 0 to 635
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               636 non-null    int64
 1   season           636 non-null    int64
 2   city             629 non-null    object
 3   date             636 non-null    object
 4   team1            636 non-null    object
 5   team2            636 non-null    object
 6   toss_winner      636 non-null    object
 7   toss_decision    636 non-null    object
 8   result           636 non-null    object
 9   dl_applied       636 non-null    int64
 10  winner           633 non-null    object
 11  win_by_runs      636 non-null    int64
 12  win_by_wickets   636 non-null    int64
 13  player_of_match  633 non-null    object
 14  venue            636 non-null    object
 15  umpire1          635 non-null    object
 16  umpire2          635 non-null    object
 17  umpire3          0 non-null      float64
dtypes: float64(1), int64(5), object(12)
memory usage: 89.6+ KB

In [7]:
##Task 3: Check if column 'umpire3' is useful. If not drop it and save the dataframe to a file.

df2 = df_matches.drop(['umpire3'], axis=1)
df2.head()
df2.to_csv("ipl/matches2.csv",index = False) # matches2.csv banaunaxa

In [8]:
##Task 4: Print Total Number of Mataches played, Number of Seasons,

print("Total Number of Matches:", df_matches.shape[0])
print("Total Number of Seasons:", df_matches['season'].nunique())

Total Number of Matches: 636
Total Number of Seasons: 10

In [9]:
#Task 5: Players who have won the most "Player of the Match" 
## And Team which has the highest number of match wins

print("Most Player of the Match Award:", df_matches['player_of_match'].value_counts().head(10))
print("Team which has won the highest number of times:", df_matches['winner'].value_counts().idxmax())

Most Player of the Match Award: CH Gayle          18
YK Pathan         16
DA Warner         15
AB de Villiers    15
RG Sharma         14
SK Raina          14
MS Dhoni          13
G Gambhir         13
AM Rahane         12
MEK Hussey        12
Name: player_of_match, dtype: int64
Team which has won the highest number of times: Mumbai Indians

In [10]:
#Task 6: Find Teams which have won matches by a huge margin

big_margin = df_matches[(df_matches['win_by_runs']>=100) | (df_matches['win_by_wickets']>=8) ]
big_margin['winner'].value_counts()

Royal Challengers Bangalore    17
Kolkata Knight Riders          16
Delhi Daredevils               13
Mumbai Indians                 12
Rajasthan Royals               12
Chennai Super Kings             9
Kings XI Punjab                 7
Sunrisers Hyderabad             5
Deccan Chargers                 2
Kochi Tuskers Kerala            2
Rising Pune Supergiant          1
Rising Pune Supergiants         1
Name: winner, dtype: int64

In [11]:
#Task 7: Find Count of Matches Played at each city 
data = {
    'Match_ID': [1, 2, 3, 4, 5],
    'City': ['Hyderabad', 'Pune', 'Rajkot', 'Indore', 'Banglore']
}

df = pd.DataFrame(data)
city_match_count = df['City'].value_counts()
print(city_match_count)

Hyderabad    1
Pune         1
Rajkot       1
Indore       1
Banglore     1
Name: City, dtype: int64

In [12]:
#Task 8: Find Min and Max win_by_wickets at each city

data = {
    'Match_ID': [1, 2, 3, 4, 5],
    'City': ['Hyderabad', 'Pune', 'Rajkot', 'Indore', 'Banglore'],
    'win_by_wickets': [0, 7, 10, 6, 0]
}

df = pd.DataFrame(data)
city_win_stats = df.groupby('City')['win_by_wickets'].agg(['min', 'max'])
print(city_win_stats)

           min  max
City
Banglore     0    0
Hyderabad    0    0
Indore       6    6
Pune         7    7
Rajkot      10   10

In [13]:
#Task 9: Find the match with biggest defeat by runs, 
data = {
    'Match_ID': [1, 2, 3, 4, 5],
    'Team1': ['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Lions', 'Rising Pune Supergiants', 'Royal Challengers Banglore'],
    'Team2': ['Royal Challengers Bangalore', 'Rising Pune Supergiant', 'Kolkatta Knight Riders', 'Kings XI Punjab', 'Delhi Daredevils'],
    'Winning_Team': ['Sunrisers Hyderabad', 'Rising Pune Supergiant', 'Kolkatta Knight Riders', 'Kings XI Punjab', 'Royal Challengers Banglore'],
    'win_by_runs': [35, 0, 0, 0, 15]
}
df = pd.DataFrame(data)
biggest_defeat_match = df[df['win_by_runs'] == df['win_by_runs'].max()]
print(biggest_defeat_match)

   Match_ID                Team1                        Team2  \
0         1  Sunrisers Hyderabad  Royal Challengers Bangalore

          Winning_Team  win_by_runs
0  Sunrisers Hyderabad           35

In [16]:
#Task 10: Find the match with biggest defeat by wickets
data = {
    'Match_ID': [1, 2, 3, 4, 5],
    'Team1': ['Sunrisers Hyderabad', 'Mumbai Indians', 'Gujarat Lions', 'Rising Pune Supergiants', 'Royal Challengers Banglore'],
    'Team2': ['Royal Challengers Bangalore', 'Rising Pune Supergiant', 'Kolkatta Knight Riders', 'Kings XI Punjab', 'Delhi Daredevils'],
    'Winning_Team': ['Sunrisers Hyderabad', 'Rising Pune Supergiant', 'Kolkatta Knight Riders', 'Kings XI Punjab', 'Royal Challengers Banglore'],
    'win_by_wickets': [0, 7, 10, 6, 10]
}
df = pd.DataFrame(data)
biggest_win_by_wikts = df[df['win_by_wickets'] == df['win_by_wickets'].max()]
print(biggest_defeat_match)

   Match_ID                Team1                        Team2  \
0         1  Sunrisers Hyderabad  Royal Challengers Bangalore

          Winning_Team  win_by_runs
0  Sunrisers Hyderabad           35